.header{
    background-color: #e9f5e9;
    padding: 1px;
    border-style:solid;
    border-width: 0.01ex;
    border-color: #e9f5e9;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  .rest{
    display: flex;
    
    justify-content: space-evenly;
      
  }
  .rest div{
      margin-left: 10px;
      margin-top: 6px;
  }
  .custom{
      background-color:lightgrey;
      box-shadow: lightgrey;
      border-radius: 3px;
      font-family: sans-serif;
      padding: 4px;


  }
  
  .custom select{
      box-shadow: lightgrey;
      width: 100px;
  }